@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-text: #000;
    --primary-color: blue;
    --button-text-color: #fff;
    --hint-color: red;
    --link-color: green;
    --bg-color: #fff;
  }

  .telegram {
    --primary-text: var(--tg-theme-text-color);
    --primary-color: var(--tg-theme-button-color);
    --button-text-color: var(--tg-theme-button-text-color);
    --hint-color: var(--tg-theme-hint-color);
    --link-color: var(--tg-theme-link-color);
    --bg-color: var(--tg-theme-bg-color);
  }

  body {
    color: var(--primary-text);
    background-color: var(--bg-color);
  }
  a {
    color: var(--link-color);
  }

  button {
    background-color: var(--primary-color);
    color: var(--button-text-color);
  }
}

.dark {
  --primary-text: theme("colors.white");
  --primary-color: theme("colors.blue.400");
  --button-text-color: theme("colors.white");
  --hint-color: theme("colors.blue.400");
  --link-color: theme("colors.blue.400");
  --bg-color: theme("colors.gray.800");
}
