html,
body {
  padding: 2rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color)
}

a {
  color: var(--tg-theme-link-color);
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

button {
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}